
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db



# Test files
test_*.py
tests/
convert.ipynb

#unused files
rawGenAlex.csv

# Local development
*.log
.env

.ipynb_checkpoints/
.mypy_cache/
.ipynb

# Vercel
.vercel
.vercel_build_output/